<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="title"
            maxlength="90"
            required
            [(ngModel)]="tutorial.titulo"
            name="titulo"
          />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripcion</label>
          <input
            class="form-control"
            id="descripcion"
            maxlength="240"
            required
            [(ngModel)]="tutorial.descripcion"
            name="descripcion"
          />
        </div>
        <button (click)="guardarTutorial()" class="btn btn-success">Guardar</button>
      </div>
      <div *ngIf="submitted">
        <button class="btn btn-success" (click)="nuevoTutorial()">Aggregar</button>
      </div>
    </div>
  </div>